In [1]:
import numpy as np
import pandas as pd

In [4]:
tsla_df = pd.read_csv('../data/raw/tsla_stock_price.csv')\
                        .drop('Unnamed: 0',axis='columns')
elon_df = pd.read_csv('../data/raw/elonmusk.csv')\
                        .drop('Unnamed: 0',axis='columns')
anomalies_df = pd.read_csv(\
                        '../data/processed/anomaly_tagged_tweet_features.csv')\
                        .drop('Unnamed: 0',axis='columns')
tsla_df['DateTime'] = pd.to_datetime(tsla_df['DateTime'])
elon_df['Time'] = pd.to_datetime(elon_df['Time'])
anomalies_df['Time'] = pd.to_datetime(anomalies_df['Time'])
anomaly_only_df = anomalies_df[anomalies_df['anomalous']!=0.]
no_anomaly_df = anomalies_df[anomalies_df['anomalous']!=1.]

In [15]:
tsla_df.columns

Index(['DateTime', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits', 'Adj Close'],
      dtype='object')

In [3]:
def nearest(items, pivot):
    return min(items, key=lambda x: abs(x - pivot))

In [5]:
print (anomalies_df['Time'].iloc[2000])
nearest(tsla_df['DateTime'],anomalies_df['Time'].iloc[2000])

2016-12-30 19:44:02+00:00

Timestamp('2016-12-30 00:00:00+0000', tz='UTC')

In [6]:
test_df = anomalies_df

In [10]:
test_df['stock_time']=test_df['Time'].apply(lambda row: nearest(tsla_df['DateTime'],row))

In [12]:
test_df.to_csv('../data/processed/anomalyandstock_tagged_tweet_features.csv')

In [20]:
def nearest_price(items, pivot,df):
    timestamp = min(items, key=lambda x: abs(x - pivot))
    return df.loc[df['DateTime']==timestamp,['Open']].values

In [21]:
nearest_price(tsla_df['DateTime'],anomalies_df['Time'].iloc[2000],tsla_df)

array([[216.3]])

In [22]:
test_df['stock_price']=test_df['Time'].apply(lambda row: nearest_price(tsla_df['DateTime'],row,tsla_df))

In [23]:
test_df.head()

,username,tweet_id,reply_to,retweets,favorites,hashtags,mentions,text,permalink,Time,...,log10_delta_time,dcompound_dTime,dcompound_dTweet,integral_compound_5,integral_compound_10,delta_compound_mean,delta_compound_median,anomalous,stock_time,stock_price
0,elonmusk,15434727182,NaN,125,469,NaN,NaN,"please ignore prior tweets, as that was someon...",https://twitter.com/elonmusk/status/15434727182,2010-06-04 18:31:57+00:00,...,3.778151,0.000000e+00,0.0000,0.4939,0.4939,0.308983,0.4939,0,2010-06-29 00:00:00+00:00,[[19.0]]
1,elonmusk,142179928203460608,NaN,18,166,NaN,NaN,went to iceland on sat to ride bumper cars on ...,https://twitter.com/elonmusk/status/1421799282...,2011-12-01 09:55:11+00:00,...,7.672624,7.754426e-09,0.3649,1.3527,1.3527,0.673883,0.8588,1,2011-12-01 00:00:00+00:00,[[32.57]]
2,elonmusk,142188458125963264,NaN,8,23,NaN,NaN,i made the volume on the model s go to 11 no...,https://twitter.com/elonmusk/status/1421884581...,2011-12-01 10:29:04+00:00,...,3.308137,-4.224299e-04,-0.8588,1.3527,1.3527,-0.184917,0.0000,0,2011-12-01 00:00:00+00:00,[[32.57]]
3,elonmusk,142880871391838208,NaN,25,29,NaN,NaN,"great voltaire quote, arguably better than twa...",https://twitter.com/elonmusk/status/1428808713...,2011-12-03 08:20:28+00:00,...,5.217705,3.630879e-06,0.5994,1.9521,1.9521,0.414483,0.5994,0,2011-12-02 00:00:00+00:00,[[32.83]]
4,elonmusk,142881284019060736,NaN,4,7,NaN,NaN,that was a total non sequitur btw,https://twitter.com/elonmusk/status/1428812840...,2011-12-03 08:22:07+00:00,...,1.995635,-6.054545e-03,-0.5994,1.9521,1.9521,-0.184917,0.0000,0,2011-12-02 00:00:00+00:00,[[32.83]]

In [25]:
test_df.to_csv('../data/processed/anomalyandstock_tagged_tweet_features.csv')
#test_df['stock_price'].strip("[[]]")

In [29]:
def strip_string(string):
    #return string.strip("[[]]")
    return string[0][0]

In [30]:
test_df['stock_price'] = test_df['stock_price'].apply(lambda row: strip_string(row))

In [31]:
test_df.head()

,username,tweet_id,reply_to,retweets,favorites,hashtags,mentions,text,permalink,Time,...,log10_delta_time,dcompound_dTime,dcompound_dTweet,integral_compound_5,integral_compound_10,delta_compound_mean,delta_compound_median,anomalous,stock_time,stock_price
0,elonmusk,15434727182,NaN,125,469,NaN,NaN,"please ignore prior tweets, as that was someon...",https://twitter.com/elonmusk/status/15434727182,2010-06-04 18:31:57+00:00,...,3.778151,0.000000e+00,0.0000,0.4939,0.4939,0.308983,0.4939,0,2010-06-29 00:00:00+00:00,19.00
1,elonmusk,142179928203460608,NaN,18,166,NaN,NaN,went to iceland on sat to ride bumper cars on ...,https://twitter.com/elonmusk/status/1421799282...,2011-12-01 09:55:11+00:00,...,7.672624,7.754426e-09,0.3649,1.3527,1.3527,0.673883,0.8588,1,2011-12-01 00:00:00+00:00,32.57
2,elonmusk,142188458125963264,NaN,8,23,NaN,NaN,i made the volume on the model s go to 11 no...,https://twitter.com/elonmusk/status/1421884581...,2011-12-01 10:29:04+00:00,...,3.308137,-4.224299e-04,-0.8588,1.3527,1.3527,-0.184917,0.0000,0,2011-12-01 00:00:00+00:00,32.57
3,elonmusk,142880871391838208,NaN,25,29,NaN,NaN,"great voltaire quote, arguably better than twa...",https://twitter.com/elonmusk/status/1428808713...,2011-12-03 08:20:28+00:00,...,5.217705,3.630879e-06,0.5994,1.9521,1.9521,0.414483,0.5994,0,2011-12-02 00:00:00+00:00,32.83
4,elonmusk,142881284019060736,NaN,4,7,NaN,NaN,that was a total non sequitur btw,https://twitter.com/elonmusk/status/1428812840...,2011-12-03 08:22:07+00:00,...,1.995635,-6.054545e-03,-0.5994,1.9521,1.9521,-0.184917,0.0000,0,2011-12-02 00:00:00+00:00,32.83

In [32]:
test_df.to_csv('../data/processed/anomalyandstock_tagged_tweet_features.csv')